.chart-js-container {
  display: flex;
  position: relative;
  flex: 1;
}

.graph {
  background-color: white;
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* width: 49%; */
}
