.chart-js-container {
  display: flex;
  position: relative;
}

.chart-container {
  background-color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: 0;
  border-radius: 0.5em;
  margin: 1em;
  height: 100%;
  position: relative;
  width: 50%;
  flex-shrink: 1;
}

@media (max-width: 768px) {
  .chart-container {
    width: calc(100vw - 4em);
  }
}
