.summary-container {
  background-color: white;
  border: 0;
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.summary-table {
  border-collapse: collapse;
}

.summary-table tr {
  border-bottom: 1px solid #e0e6ed;
}

.summary-table th,
.summary-table td {
  padding: 1em 0;
  text-align: justify;
  /* overflow: hidden; */
  white-space: nowrap;
}

.diff-grey {
  color: grey;
}
.diff-green {
  color: green;
}
.diff-red {
  color: red;
}

@media (max-width: 768px) {
  .summary-container {
    width: calc(100vw - 4em);
    justify-content: center;
  }
}
