.expense-form {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  margin-bottom: 1em;
}

.expense-button {
  color: green;
  font-size: 24px;
  border: 0;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.expense-form__error {
  color: red;
}

.expense-form__loading {
  display: flex;
  color: grey;
  align-items: center;
}

.expense-form__loading > p:first-child {
  margin-left: 0.25em;
  flex: 1;
}

.expense-form__loading > p:nth-child(2) {
  margin-right: 1.05em;
}
