.expense-filter-list {
  display: flex;
  flex-direction: column;
}

.expense-filter-list__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.expense-filter-list__result {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.expense-filter-list__result > p:first-child {
  padding-left: 0.25em;
}
.expense-filter-list__result > p:last-child {
  padding-right: 1.25em;
}

.deleteBtn > img:active {
  background: white;
  transform: translate(0, -50%) translate(+3px, +3px);
  box-shadow: grey 1px 2px;
}

.expense-filter-list__item {
  flex: 1;
}

.expense-filter-list__delete {
  font-size: 16px;
  font-weight: 400px;
  color: lightcoral;
}

.expense-filter-list__delete:hover {
  font-size: 16px;
  font-weight: 700px;
  color: red;
  cursor: pointer;
}
