<!-- Base html file for nav top bar -->
{% extends "base.html" %}
<!-- All static assets including images etc. -->
{% load static %}
<!-- Main content block -->
{% block content %}
<!-- Nav bar tabs -->
{% include "core/includes/tabs.html" with active_tab='login' %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'users/userStyle.css' %}"
/>

<div class="container">
  <div class="login-card">
    <div
      class="description-container"
      style="background-image: url('{% static 'users/images/money.jpg' %}')"
    ></div>
    <div class="login-container">
      <h2>Log In</h2>
      <form method="post">
        {%csrf_token%} {{form.as_p}}
        <button type="submit">Log In</button>
      </form>
      {% endblock %}
    </div>
  </div>
</div>
