.category-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid grey;
}

.category-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  border: 0;
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em;
  height: 100%;
  overflow: hidden;
}

.category-form__button {
  border-radius: 4px;
  background-color: rgba(0, 149, 120, 0.8);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 100px;
  transition: all 0.1s;
  cursor: pointer;
  margin: 1em;
  box-shadow: 0 0.4em #999;
}

.category-form__button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.category-form__button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.category-form__button:hover span {
  padding-right: 25px;
}

.category-form__button:hover span:after {
  opacity: 1;
  right: 0;
}

.category-form__button:active {
  background-color: #3e8e41;
  box-shadow: 0 0.2em #666;
  transform: translateY(4px);
}

.filter-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em;
  background-color: white;
  padding: 1em;
  border: 0;
  border-radius: 0.5em;
}

.filter-list__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.filter-list__option {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.filter-list__option:hover {
  background-color: lightgrey;
}

.filter-list__option:active {
  background-color: lightgrey;
  transform: scale(90%);
  box-shadow: grey 1px 2px;
}

.deleteBtn > img:active {
  background: white;
  transform: translate(0, -50%) translate(+3px, +3px);
  box-shadow: grey 1px 2px;
}

.filter-list__item {
  flex: 1;
}

.filter-list__delete {
  font-size: 16px;
  font-weight: 400px;
  color: lightcoral;
}

.filter-list__delete:hover {
  font-size: 16px;
  font-weight: 700px;
  color: red;
  cursor: pointer;
}
