.category-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid grey;
}

.category-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  border: 0;
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em;
  height: 100%;
  overflow: hidden;
}

.inputs-wrapper {
  display: block;
}

.category-form__button {
  border-radius: 0.3em;
  border: 0;
  color: white;
  width: 100px;
  margin: 1em;
  padding: 0.75em 1.875em;
  background-color: rgba(0, 149, 120, 0.8);
}
