/* * {
  box-sizing: border-box;
} */

/* html {
  height: 100%;
} */

/* body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
} */

/* Container wraps around both the sidebar and main */
/* .container {
  background-color: grey;
  height: 100%;
} */

/* Sidebar fixed to the top left, however media query will override when < 600px */
.sidebar {
  background-color: white;
  padding: 0 20px;
  position: fixed;
  left: 0;
  top: 0px;
  width: 300px;
  height: 100%;
}

/* Main container including balance and history of transactions centered and offset from sidebar*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  padding-left: 300px;
}

/* Add transaction in sidebar (or top of page when media query < 600px) */
form {
  display: flex;
  flex-direction: column;
}

form > label {
  margin: 10px 0;
  font-weight: 600;
}

form > input[type='text'] {
  padding: 5px;
  outline: 0;
  border: 1px solid lightgrey;
}

form > input[type='submit'] {
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 5px;
}

/* Sections within main are stretched, however media query will override when < 600px */
section {
  width: 80%;
}

/* Headings in the main section to have a consistent styling with a grey border bottom */
section h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  text-align: left;
  font-size: 1.25rem;
}

.balance-section {
  margin: 15px 0 15px;
}

/* Total Net Balance to be styled in large bold text */
.balance {
  font-size: 24px;
  text-align: center;
}

/* Container showing income and expenses totals to be flex side-by-side display */
.account-summary {
  box-shadow: 5px 5px 10px grey;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  padding: 5px 0;
}

.account-summary > .income {
  width: 50%;
  border-right: 1px solid lightgrey;
  float: left;
}

.account-summary > .expenses {
  width: 50%;
  float: left;
}

.income > p {
  color: green;
  font-size: 20px;
  
}

.expenses > p {
  color: red;
  font-size: 20px;
}

/* History of transactions in a column */
.history-card-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Dynamically created cards for each added transaction
Right border set green or red in js for income vs expense */
.history-card {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 5px 0;
  background-color: white;
  border-left: 2px solid grey;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

.history-card > strong {
  margin: auto;
}

.history-card > p {
  text-align: right;
  flex-grow: 1;
  justify-content: center;
  margin: 10px 0;
}

/* For narrow displays, sidebar is placed at top and sidebar no longer fixed in position */
@media (max-width: 600px) {
  .sidebar {
    left: 0;
    position: static;
    width: 100%;
    height: auto;
  }

  main {
    padding-left: 0;
  }

  section {
    width: 300px;
  }
}
