* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

/* TODO How to get the sidebar to be fixed to the top   */
.transaction-sidebar {
  background-color: white;
  padding: 0 20px;
  position: fixed;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  margin: 0;
  /* overflow: hidden; */
  /* color: white; */
  flex-grow: 1;
}

section {
  width: 300px;
}

section h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  text-align: left;
  font-size: 1.25rem;
}

.balance-section .account-summary {
  display: flex;
}

.balance {
  font-size: 24px;
  text-align: center;
}

.income,
.expenses {
  background-color: white;
  fill: white;
  flex-grow: 1;
  box-shadow: 5px 5px 10px grey;
  text-align: center;
}

.income p {
  color: green;
  font-size: 20px;
}

.expenses p {
  color: red;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 10px 0;
  font-weight: 600;
}

form input[type='text'] {
  padding: 5px;
  outline: 0;
  border: 1px solid lightgrey;
}

form input[type='submit'] {
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 5px;
}

.history-cards {
  display: flex;
  flex-direction: column;
  position: relative;
}

.transaction-card {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 5px 0;
  background-color: white;
  border-left: 2px solid grey;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  /* border-right: 6px solid green; */
}

.transaction-card strong {
  margin: auto;
}

.transaction-card p {
  text-align: right;
  flex-grow: 1;
  justify-content: center;
  margin: 10px 0;
}
