.card-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  width: 100%;
  max-width: 1200px;
}
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
}
