<!-- Base html file for nav top bar -->
{% extends "base.html" %}
<!-- All static assets including images etc. -->
{% load static %}
<!-- Main content block -->
{% block content %}
<!-- Nav bar tabs -->
{% include "core/includes/tabs.html" with active_tab='app' %}
<!-- Filter for Category -->
{% load myfilters%}
<!-- Check if authenticated -->
{% if user.is_authenticated %}
<link rel="stylesheet" type="text/css" href="{% static 'app/appStyle.css' %}" />
<div class="container">
  <div class="sidebar">
    <h2>Add New Category</h2>
    <form method="post">
      {% csrf_token %} {{ form.non_field_errors }}
      <div class="fieldWrapper">
        <label for="id_name">Name:</label>
        {{form.name|addclass:"text__input" }}
        <label for="id_assignee">Assignee:</label>
        {{form.assignee|addclass:"text__input" }}
        <label for="id_budget">Budget (mth):</label>
        {{form.budget }}
        <label for="id_description">Description:</label>
        {{form.description|addclass:"text__input" }}
      </div>
      <input type="submit" value="Submit" />
    </form>
    <p>{% include 'core/includes/messages.html' %}</p>
  </div>
  <main>
    <section class="topSummary">
      <h1>SUMMARY</h1>
      <table class="summaryTable">
        <colgroup></colgroup>
        <thead>
          <tr>
            <th class="summaryTableCells">PERIOD</th>
            <th class="summaryTableCells">EXPENSES<br />(mth)</th>
            <th class="summaryTableCells">DIFFERENCE<br />(mth)</th>
            <th class="summaryTableCells">COVERAGE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="summaryTableCells">LAST WEEK</td>
            <td class="summaryTableCells">${{expenses_wk}}</td>
            <td class="summaryTableCells"></td>
            <td class="summaryTableCells">{{coverage_wk}}%</td>
          </tr>
          <tr>
            <td class="summaryTableCells">LAST MONTH</td>
            <td class="summaryTableCells">${{expenses_mth}}</td>
            <td class="summaryTableCells"></td>
            <td class="summaryTableCells">{{coverage_mth}}%</td>
          </tr>
          <tr>
            <td class="summaryTableCells">LAST YEAR</td>
            <td class="summaryTableCells">${{expenses_yr}}</td>
            <td class="summaryTableCells"></td>
            <td class="summaryTableCells">{{coverage_yr}}%</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="history-section">
      <h2>HISTORY</h2>
      <div class="history-card-container" id="history-card-container">
        {% for card in category %}
        <div class="history-card-wrapper" id="{{card.id}}-wrapper">
          <div class="history-card">
            <a
              class="history-card-link"
              href="{% url 'core:timeperiods' %}?category={{card.id}}"
            >
              <div>
                <span>
                  <strong>{{card.name}}</strong><br />
                  <i>[{{card.description}}]</i>
                </span>
                <p>{{card.assignee}}</p>
              </div>
            </a>
          </div>
          <div class="deleteBtn" id="{{card.id}}">
            <img src="{% static 'app/images/trash.svg' %}" />
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>
</div>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'account_login' %}">Log In</a> |
<a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %} {% endblock %} {% block page_scripts %}
<script src="{% static 'app/expenseCategory.js' %}"></script>
{% endblock %}
