{% extends "base.html" %} {% load static %} {% block content %}
{% include "core/includes/tabs.html" with active_tab='app' %}
{% load myfilters %} {% if user.is_authenticated %}
  <div class="sidebar">
    <h2>Add New Category</h2>
    <form method="post">
      {% csrf_token %} {{ form.non_field_errors }}
      <div class="fieldWrapper">
        <label for="id_name">Name:</label>
        {{form.name|addclass:"text__input" }}
        <label for="id_assignee">Assignee:</label>
        {{form.assignee|addclass:"text__input" }}
        <label for="id_description">Description:</label>
        {{form.description|addclass:"text__input" }}
        <label for="id_groupTransactions">Grouped Transaction:</label>
        {{form.groupTransactions }}
      </div>
      <input type="submit" value="Submit" />
    </form>
    <button id='asyncBtn'>Create Async Category</button>
    <button id='asyncDeleteBtn'>Delete Async Category</button>
    <p>{% include 'core/includes/messages.html' %}</p>
  </div>
  <main>
    <section class="history-section">
      <h2>HISTORY</h2>
      <div class="history-card-container" id="history-card-container">
        {% for card in category %}
        <a href="{% url 'core:timeperiodsSelected' card.id %}">
        <div class="history-card">
          <span>
          <strong>{{card.name}}</strong><br>
          <i>[{{card.description}}]</i>
        </span>
          <p>${{card.assignee}}</p>
        </div>
        </a>
        {% endfor %}
      </div>
    </section>
  </main>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'account_login' %}">Log In</a> |
<a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %} {% endblock %}
{% block page_scripts %}
  <script src="{% static 'app/expenseCategory.js' %}"></script>
{% endblock %}