{% extends "base.html" %} {% load static %} {% block content %}
{% include "core/includes/tabs.html" with active_tab='app' %}
{% load myfilters %} {% if user.is_authenticated %}
  <div class="sidebar">
    <h2>Add new transaction</h2>
    <form action="/app/" method="post">
      {% csrf_token %} {{ form.non_field_errors }}
      <div class="fieldWrapper">
        <label for="id_description">Description</label>
        {{form.description|addclass:"text__input" }}
        <label for="id_cost">Amount:</label>
        {{form.cost|addclass:"text__input"}} {{ form.category.errors }}
        {{form.category.label_tag }} {{ form.category|addclass:'radio__label' }}
        <span class="helptext">{{ form.category.help_text }}</span>
      </div>
      <input type="submit" value="Submit" />
    </form>
    <p>{% include 'core/includes/messages.html' %}</p>
  </div>
  <main>
    <section class="balance-section">
      <h2>YOUR BALANCE</h2>
      <p id="balance" class="balance">${{net_sum.cost__sum|floatformat:"0"}}</p>
      <div class="account-summary">
        <div class="income" id="income">
          <h3>INCOME</h3>
          <p>${{income_sum.cost__sum|floatformat:"0"}}</p>
        </div>
        <div class="expenses" id="expenses">
          <h3>EXPENSES</h3>
          <p>${{expenses_sum.cost__sum}}</p>
        </div>
      </div>
    </section>
    <section class="history-section">
      <h2>HISTORY</h2>
      <div class="history-card-container" id="history-card-container">
        {% for card in expenses %}
        <div class="history-card">
          <strong>{{card.description}}</strong>
          <p>${{card.cost}}</p>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>
<script src="{% static 'app/script.js' %}"></script>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'account_login' %}">Log In</a> |
<a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %} {% endblock %}
