{% extends "base.html" %} {% load static %} {% block content %}
{% include "core/includes/tabs.html" with active_tab='timeperiods' %}
{% load myfilters %} {% if user.is_authenticated %}
  <div class="sidebar">
  <h2>Filter By Category</h2>
        <section class="expensePeriodFilterForm">
      <form method="GET">
        {{myFilter.form}}
      <button type="submit">Search</button>
      </form>
    </section>
    <p>{% include 'core/includes/messages.html' %}</p>
  </div>
  <main>
    <section class="history-section">
      <h2>ADD EXPENSE PERIOD</h2>
      <div class="addExpensePeriod">
        <p>Add New</p>
        <form id="ExpensePeriodForm" method="post">
      {% csrf_token %} {{ form.non_field_errors }}
      <div class="fieldWrapper">
        <label for="id_description">Description</label>
        {{form.description|addclass:"text__input" }}
        <label for="id_dateStart">Start Date</label>
        {{form.dateStart }}
        <label for="id_dateEnd">End Date:</label>
        {{form.dateEnd|addclass:"text__input" }} 
        {{ form.category.errors }}
        {{form.category.label_tag }} {{ form.category|addclass:'categoryRadioSelect' }}
        <span class="helptext">{{ form.category.help_text }}</span>
      </div>
      <input type="submit" value="Submit" />
    </form>
      </div>
      <div class="history-card-container" id="history-card-container">
        {% for card in expenses %}
        <div class="history-card-wrapper" id="{{card.id}}-wrapper">
        <a href="{% url 'core:createExpenses' card.id %}">
        <div class="history-card">
          <span>
          <strong>{{card.description}}</strong><br>
          <i>[{{card.category.name}}]</i>
        </span>
          <p>{{card.dateStart}} to {{card.dateEnd}}</p>
        </div>
        </a>
          <div class="deleteBtn" id={{card.id}}>
            <img src="{% static 'app/images/trash.svg' %}" />
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'account_login' %}">Log In</a> |
<a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %} {% endblock %}
{% block page_scripts %}
  <script src="{% static 'app/expenseTimePeriod.js' %}"></script>
{% endblock %}