:root {
  --navHeight: 50px;
}

body {
  margin: 0;
  background: #eee;
}

/* Taken from reset.css ensure that browser doesn't apply automatic margins to text */
h1, h2, h3, p {
  margin: 0;
}

blockquote,
label,
p,
li {
  line-height: 1.5;
}

/* Nav menu styling */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  width:100%;
  height: var(--navHeight);
  display: block;
  position: fixed;
  top: 0;
  z-index: 10;
}

/* Style the links inside the navigation bar */
.topnav a, .logoutBtn {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
  background: #333;
  border: 0;
}

/* Change the color of links on hover */
.topnav a:hover, .logoutBtn:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgba(0, 149, 120, 0.8);
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Sidebar fixed to the top left, however media query will override when < 600px */
.sidebar {
  background-color: white;
  padding: 0 20px;
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 200px;
  height: calc(100% - var(--navHeight));
  box-sizing: border-box;
}

/* Copied from reset.css */
input,
select,
textarea {
  /* Makes sure that inputs are always on the next line  */
  display: block;

  /* Gives a bit more space for input fields */
  line-height: 1.5;
}

/* From reset.css To hide the dot points and remove the space required for them */
ul,
ol {
  list-style-type: none;
  padding: 0;
}

/* From reset.css To avoid default user agent margin on radios */
input[type="radio"] {
  margin: 0;
}

/* Outer container for categories checkboxes */
ul.categoryRadioSelect {
  margin: 10px 0;
  border-radius: 20px;
  box-shadow: 0 0 3px black;
  overflow: hidden;
}

/* Instruction to create a clickable area https://ishadeed.com/article/clickable-area/
2nd inner container for categories checkboxes */
ul.categoryRadioSelect label {
  display: block;
  padding: 8px 0;
  cursor: pointer;
  position: relative;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

input.categoryRadioSelect {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  appearance: none;
  -webkit-appearance: none;
  background: rgba(0, 149, 120, 0.8);

}

input.categoryRadioSelect:checked {
  transition: background-color 0.3s;
  background: #006b56;
}

/* Main container including balance and history of transactions centered and offset from sidebar*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  padding-left: 300px;
  padding-top: var(--navHeight);
}

/* Add transaction in sidebar (or top of page when media query < 600px) */
form {
  display: flex;
  flex-direction: column;
}

form > label {
  margin: 10px 0;
  font-weight: 600;
}

.hidden {
  display: none;
}

.error-message {
  font-size: 0.85rem;
  color: red;
}

/* Validation icons styling */
.icon {
  width: 24px;
  height: 24px;
  /* position: absolute; */
  top: 32px;
  right: 5px;
  pointer-events: none;
  z-index: 2;
}

.icon-success {
  fill: green;
}

.icon-error {
  fill: red;
}

form > input[type='text'] {
  padding: 5px;
  outline: 0;
  border: 1px solid lightgrey;
}

form > input[type='submit'] {
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 5px;
}

form > input[type='submit']:disabled {
  color: grey;
}

/* Sections within main are stretched, however media query will override when < 600px */
section {
  width: 80%;
}

/* Headings in the main section to have a consistent styling with a grey border bottom */
section h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  text-align: left;
  font-size: 1.25rem;
}

.balance-section {
  margin: 15px 0 15px;
}

/* Total Net Balance to be styled in large bold text */
.balance {
  font-size: 24px;
  text-align: center;
}

/* Container showing income and expenses totals to be flex side-by-side display */
.account-summary {
  box-sizing: border-box;
  box-shadow: 5px 5px 10px grey;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  padding: 5px 0;
}

.account-summary > .income {
  display: block;
  box-sizing: inherit;
  width: 50%;
  border-right: 1px solid lightgrey;
  float: left;
}

.account-summary > .expenses {
  display: block;
  box-sizing: inherit;
  width: 50%;
  float: left;
}

.income > p {
  color: green;
  font-size: 20px;
}

.expenses > p {
  color: red;
  font-size: 20px;
}

/* History of transactions in a column */
.history-card-container {
  display: flex;
  flex-direction: column;
  /* With position relative, the history cards overlapped the top bar, why? */
  /* position: relative; */
}

.history-card-wrapper {
  display: flex;
  flex-direction: row;
}

/* Entire card is hyperlinked, prevent text looking like a link */
.history-card-wrapper > a {
  color: inherit;
  text-decoration: none;
  display: inline block;
  width: 80%;
  margin: 5px 0;
}

.history-card-wrapper > input {
  display: inline block;
  width: 20%;
  margin: 10px 5px;
}

/* Dynamically created cards for each added transaction
Right border set green or red in js for income vs expense */
.history-card {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: white;
  border-left: 2px solid grey;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

.history-card strong {
  margin: auto;
}

.history-card span {
  margin: auto;
  text-align: justify
}

.history-card i {
  margin: auto;
  font-size: 14px;
}

.history-card p {
  text-align: right;
  flex-grow: 1;
  justify-content: center;
  margin: 10px 0;
}

/* For narrow displays, sidebar is placed at top and sidebar no longer fixed in position */
@media (max-width: 600px) {
  .sidebar {
    left: 0;
    position: sticky;
    width: 100%;
    height: auto;
    transform: translateY(var(--navHeight))
  }

  main {
    padding-left: 0;
  }

  section {
    width: 300px;
  }
}
