.calculator-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator__heading {
  text-align: center;
}

.calculator__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style: inside;
  position: relative;
}
