.output-item {
  border-bottom: solid 1px grey;
  margin: 0.5em 0;
  padding: 0.5em 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background: linear-gradient(rgb(200, 200, 0, 0), rgb(200, 200, 0, 1));
}

.output-item__description {
  border-right: solid 1px grey;
  padding-right: 0.5em;
}

.output-item__dueDate {
  padding-left: 0.5em;
}

.completed {
  color: green;
  text-decoration: line-through;
}

.dueTodayTomorrow {
  animation: blinker 1s step-start infinite;
  color: red;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
